$color-primario: darkblue;
$color-secundario:#E0951F;
$color-terciario: #eeeeee;
$color-fuente: white;
$fuente-primaria: 'Open Sans',
sans-serif;
$fuente-secundaria: 'Roboto',
sans-serif;

/******** BEM - SECTIONS ********/
.bg {
    text-decoration: none;
}

.bg--grey {
    background-color: $color-terciario;
}

.bg--crema {
    background-color: rgb(255, 243, 218);
}

.bg--orange {
    background-color: $color-secundario;
}

.bg--black {
    background-color: #212529;
}

/******** BEM - CAJA ********/
.caja {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(75, 75, 75, 0.125);
    border-radius: .25rem;
}

.caja__cuerpo {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card {
    display: block;

    p {
        font-size: 1.20em !important;
    }
}

.bg-crema-ser {
    background-color: #fff3daad;
    border-radius: 8px;
}

.servicios {
    .parrafos--grey {
        font-size: 1rem !important;
    }

    .title__important h3 {
        font-size: 1.4em;
        color: darkblue;
    }
}

/******** BEM - COLUMNAS Y FILAS ********/
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row--center {
    justify-content: center !important;
}

.row--right {
    justify-content: right !important;
}

@media (max-width:992px) {
    .oculto_movil {
        display: none;
    }
}


#why-us {
    padding: 60px 0;
    background: $color-fuente;
}

#why-us .section-header h3,
#why-us .section-header p {
    color: #6c757d ;
    line-height: 1.6rem;
    font-size: 1.1rem !important;
}

#why-us .card {
    background: rgb(255, 243, 218);
    border-color: rgb(255, 243, 218);
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

#why-us .card-title{
    margin-top: 1.5rem;
    color: $color-primario;
}


#why-us .card i {
    font-size: 48px;
    padding-top: 15px;
    color: $color-secundario;
    text-align: center;
}

#why-us h2 {
    font-size: 1.6rem;
    color: $color-primario !important;
    font-weight: 800;
    font-family: 'Raleway';
}

#why-us .card h5 {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Raleway';
}

#why-us .card p {
    font-size: 15px;
    color: #6c757d;
}

#why-us .card-text {
    line-height: 1.6rem;
    font-size: 1.1rem !important;
}
